<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Project CP</title>
  </head>
  <body>
    <form class="" action="/" method="post">
      <input type="text" name="username" value="">
      <input type="submit" name="" value="Submit">
    </form>
    <span> <b>Your Rating : <%=rating%></b> </span>
  </body>
</html>
